<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>
    <div class="container">
        <!-- Encabezado del formulario de inicio de sesión -->
        <header>
            <a href="{{ url_for('index') }}" class="back-arrow">&larr;</a> <!-- Flecha para volver atrás --><img class="header-image"
                src="https://cdn.glitch.global/178052fc-7d6e-42a8-9f65-6ec1f1aed727/Dise%C3%B1o%20sin%20t%C3%ADtulo%20(1).png?v=1732227518990"
                alt="Imagen de medicina">
        </header>


        <h1>Iniciar Sesión</h1>
        <p>Accede con tu correo y contraseña.</p>

        <!-- Sección para mostrar mensajes flash (errores o avisos) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-messages {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- Formulario de inicio de sesión -->
        <form method="POST">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" placeholder="Correo electrónico" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Ingresar</button>
        </form>


        <footer>
            <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate</a></p>
        </footer>
    </div>
</body>

</html>